body {
  background-color: darkgrey;
}
.header {
  display: flex;
  gap: 150px;
}
.search {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  width: 652px;
  border-radius: 16px;
  height: 25px;
  position: relative;
  margin-top: 16px;
}
.search input {
  outline: transparent;
  border: none;
  background-color: transparent;
  box-shadow: 0px 0px 30px rgba(227,228237,0.37);
}
.cart {
  position: absolute;
  right: 50px;
  font-size: 50px;
  margin: 15px;
}
h1 {
  font-family: 'Arial', sans-serif;
  font-size: 3rem; 
  color: #ffffff; 
  text-align: center; 
  margin: 20px 0; 
  padding: 10px; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); 
  letter-spacing: 1px; 
  text-transform: uppercase; 
  line-height: 1.2; 
  background: linear-gradient(90deg,black,grey); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

