body {
  background-color: darkgrey;
}
.header {
  display: flex;
  gap:200px;
}
.search {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  border: 2px solid white;
  width: 652px;
  border-radius: 16px;
  height: 25px;
  position: relative;
  margin-top: 16px;
}
.search input {
  outline: transparent;
  border: none;
  background-color: transparent;
}
.cart {
  position: absolute;
  right: 50px;
  font-size: 50px;
  margin: 15px;
}
.h1 {
  text-shadow: 2px 2px #ff0000;
}